body{
    background-color: rgb(40, 174, 179);
}
nav{
    background-color: rgb(219, 211, 200);
    padding-top: 1vw;
    padding-bottom: 1vw;
}
ul{
    list-style: none;
    text-align: center;
}
li{
    display: inline;
}

p{
    border: 2px solid rgb(253, 253, 253);
    background-color: rgb(240, 238, 236);
    width: 95vw;
    height: 5vw;
    text-align: center;
}
a{
    outline: none;
    text-decoration: none;
    color: black;
}
button{
    color: rgb(34, 103, 163);
    margin: auto;
}